.container1{
padding: 20px;
text-align: center;

}

.col1{
text-align: center;
margin: 50px;
background-color: rgb(84, 103, 135);
}

.col2{
text-align: center;
margin: 50px;
background-color: rgb(84, 103, 135);
}

h1{
font-family: fantasy;

}



