.container1{
padding: 20px;
text-align: center;

}

.col1{
text-align: center;
margin: 50px;
background-color:  rgb(108, 117, 124);
border-radius: 15px;
}

.col2{
text-align: center;
margin: 50px;
background-color:  rgb(108, 117, 124);
border-radius: 15px;

}

h1{
font-family: fantasy;

}

a{

font-size: 20px;
}



